@charset "utf-8";

/*head영역*/
#head{
    position: relative;
    width: 100%;
    height: 350px;
    background-color: #fff;
    transition: all 0.5s ease;
    z-index: 100;
}

#head:hover{
    background-color: #f2f799;
}

header{
    position: relative;
    width: 1080px;
    height: 100%;
    margin: 0 auto;
}

header a{
    color: #ddd;
}

header h1{
    position: relative;
    
}

header h1 img{
    position: relative;
    width: 150px;
    height: 150px;
    left: 500px;
    margin: 30px 0 30px -10px;
}
header form {
    position: absolute;
    left: 0;
    top: 20px;
}
header .infoLink {
    position: absolute;
    right: 0;
    top: 10px;
    overflow: hidden;
}
header .infoLink>li {
    float: left;
    margin: 8px 0 7px 5px;
}
header .infoLink>li::before{
    content: "|";
    padding-right: 7px;
}
header .infoLink li:last-child a::after{
    content : "|"; 
    padding-left : 7px;
}
nav #mainMenu {
    position: relative;
    width: 1080px;
    height: 60px;
    /*border: 2px solid red;*/
    text-align: center;
    font-weight: bold;
    font-size: 1.5em; 
}

nav #mainMenu>li {
    float: left;
    width: 170px;
    padding: 10px 22px;
}

.sub {
    position: absolute;
    width: 1080px;
    display: none;
}
.sub li {
    display: block;
    float: left;
    font-size: 17px;
    margin-top: 20px;
    width: 180px;
    /*border: 1px solid red;*/
    border-right: 2px solid #aaa;
}
.sub li:last-child{
    border-right: none;
}

/*.sub_article {
    /*display: block;
}*/
#mainMenu li:nth-child(4) ul {
    position: relative;
    left: -190px;
}


#mainMenu li:last-child ul{
    position: relative;
    left: -552px;
}
/*header영역 끝*/

/*contentArea*/
#contentArea {
    width: 100%;
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
}
#memberArea {
    width: 900px;
    position: relative;
    margin: 0 auto;
    /*border: 2px solid rebeccapurple;*/
    height: 600px;
}
#memberArea h2 {
    font-size: 18px;
    font-family: "NanumEx";
    text-align: center;
    color: #111;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2); /*글자에 그림자. 우측 아래 번짐정도 색상*/
    border-bottom: 2px solid #111;
    padding-top: 50px;
    padding-bottom: 15px; 
    margin-bottom: 20px; 
}
.formSign {
    text-align: right; /*포지션 주지 않아도 p 자체가 블럭요소라 텍스트 정렬로만 움직여도 된다*/
    margin: 30px 0 10px; 
}
.require {
    display: inline-block;
    width: 10px;
    height: 12px;
    text-indent: 10px;
    white-space: nowrap;
    overflow: hidden; 
}
.require::before {
    font-family: "webcafeIcon";
    content: "s";
    color: red;
    position: relative; 
    left: -15px;
}
#joinForm {
    border-top: 2px solid #ccc;
}
#joinForm p {
    border-bottom: 1px solid #ccc;
    position: relative;
    overflow: hidden; 
}
#joinForm label, .mailing em {
    float: left;
    width: 150px; /*width를 줘야 간격이 맞아진다.*/
    padding: 13px 20px;
    margin-right: 10px;
    font-weight: bold;
    color: #fff;
    background: #8e9eab;
}
#joinForm .mailing label {
    float: none;
    width: auto;
    padding: 0;
    background: none;
}
#joinForm input:not([type="radio"]) { 
    margin: 10px 0; 
    border: 1px solid #aaa;
    height: 18px;
    padding-left: 5px;
}
a.idCheck, a.findZipcode {
    font-family: "nanumEx";
    font-size: 11px;
    color: #fff;
    background-color: #fe8389;
    padding: 3px 15px;
    border-radius: 20px;
    text-shadow: 1px 1px 1px #ed676c, -1px -1px 1px #ed676c; /*플러스 줬다가 마이너스도 주면 글씨가 더 입체적이된다.*/
    margin-left: 5px;
}
a .findZipcode {
    position: absolute;
    left: 230px;
    top: 12px;
}
input #address {
    display: block;
    margin: 0;
}
.lableAddress {
    height: 70px;
    line-height: 70px;
}
.mailing em {
    font-style: normal;
    height: 35px;
    line-height: 35px;
}
.mailing span {
    display: block;
    margin: 10px 0;
}
.btnJoinArea {
    text-align: center;
    margin: 15px 0;
}
.btnJoinArea button { /*두개의 버튼을 우선 공통으로 꾸민다*/
    font-family: "NanumEx";
    font-size: 14px;
    color: #fff;
    padding: 8px 20px;
    margin: 0 5px;
    border: 0;
    border-radius: 3px;
    letter-spacing: 1px; /*자간*/
}
.btnOk::before{
    font-family: "webcafeIcon";
    content: "h";
    font-size: 24px;
    position: relative;
    line-height: 0;
    top: 7px;
    left: -5px;
}
.btnOk{
    background: linear-gradient(to bottom, rgba(98,98,98,1) 0%, 
    rgb(98,98,98) 50%, rgb(81,81,81) 100%);
}
.btnCancel{
    background: linear-gradient(to bottom, rgba(145,145,145,1) 0%, 
    rgb(145,145,145) 50%, rgb(81,81,81) 100%);
}


/*footer*/
footer {
    /*border: 2px solid red;*/
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 250px;
    background-image: linear-gradient(to bottom, #eef2f3 0%, #8e9eab 100%);
}

.footerArea {
    position: relative;
    width: 1080px;
    margin: 0 auto;
}

footer .footerArea .footer_nav {
    position: relative;
    width: 1080px;
    margin: 0 auto;
    margin-top: 70px;
    overflow: hidden;
}
footer .footerArea .footer_nav li {
    float: left;
}

footer .footerArea .footer_nav li a {
    display: inline-block;
    position: relative;
    text-align: center;
    color: #111;
    font-size: 1.1em;
    line-height: 50px;
    padding: 0 44px;
}
footer .footerArea .footer_nav li a:hover {
    color: #3494E6;
    font-weight: bold;
}
#address {
    /*border: 1px solid red;*/
    position: relative;
    width: 70%;
    float: left;
}
#address p {
    font-size: 13px;
    line-height: 20px;
    padding-top: 50px;
  
}

#aside {
    position: relative;
    width: 30%;
    float: right;
}
#aside:after{
    content: '';
    position: absolute;
    top: 10px;
    bottom: 0;
    left: -80px;
    width: 1px;
    height: 160px;
    background: #777;
}
#aside h4 {
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    margin-top: 20px;
}
#aside p {
    margin: 0;
    font-size: 13px;
    line-height: 20px;
    padding-top: 10px;

}
#aside span {
    /*border: 2px solid blue;*/
    display: inline-block;
    margin-top: 7px;
    font-size: 11px;
}
#aside a {
    display: inline-block;
    min-width: 60px;
    margin-top: 5px;
    padding: 0px 8px;
    height: 20px;
    line-height: 18px;
    font-size: 11px;
    color: #000;
    border: 1px solid #333;
    background-color: #fff;
    text-align: center;
}